html {
	font-family: sans-serif;
}

body {
	margin: 8px 22px;
}

a {
	text-decoration: none;
	color: #28f;
}

.availableOffline::after {
	content: '(available offline)';
	color: #666;
	vertical-align: top;
	margin: 0 0 0 .5em;
	font-size: .8em;
}

.offline-toggler {
	position: absolute;
	top: 65px;
	right: 1.7em;
	font-size: 1em;
}

h1 {
	margin-bottom: 41px;
}